.error-msg h1 {
	color: #ff4d55;
	font-family: "Montserrat-Bold";
	font-size: 3.5em;
	margin-top: 130px;
}

.error-img img {
	width: 100%;
}

.go-back-btn {
	background-color: #ff4d55;
	font-family: "Montserrat-Regular";
	color: white;
	border: none;
	width: 120px;
	height: 40px;
	margin-top: 30px;
	margin-bottom: 116px;
}

.go-back-btn img {
	height: 10px;
	margin-left: 5px;
}

@media (min-width: 992px) and (max-width: 1199px) {

	.error-msg h1 {
		font-size: 3em;
	}
}


@media (max-width: 767px) {

	.error-msg h1 {
		font-size: 2em;
		margin-top: 80px;
	}

}