.article {
	padding-left: 0;
	padding-right: 0;
	width: 100%;
	background-color: #f1f1f1;
	margin-bottom: 30px;
}


.article p {
	margin-top: 20px;
	padding: 5px 0 5px 0;
	font-size: 1.2em;
	font-family: "Montserrat-Thin";
	font-weight: 800;
}

.article .article-picture {
	position: relative;
}

.article .article-picture img {
	width: 100%
}

.article .article-picture .article-picture-caption {
	width: 100%;
	padding:10px;
	position: absolute;
	background-color: #ff4d55;
	bottom: 0;
	color: white;
	font-family: "Montserrat-Regular";
}

.article .article-picture .article-picture-caption h2 {
	margin-top: 5px;
}

.post-date {
	color: gray;
	margin-top: 20px;
	font-family: "Montserrat-Regular";

}

.post-date img {
	display: inline-block;
	width: 15px;
	margin-right: 5px;
	margin-top: -2px;
}

.post-date .underline {
	border-bottom: 1px solid gray;
	margin-left: -10px;
	margin-top: 9px;
}

.post-date span:last-child {
	padding-left: 5px;
}

.article p:last-child {
	margin-bottom: 80px;
}



@media (min-width: 992px) and (max-width: 1199px) {

	.article .article-picture .article-picture-caption h2 {
		font-size: 1.5em;
	}

	.post-date .underline {
		margin-left: -40px;
	}

	.post-date span:last-child {
		padding-left: 20px;
	}

}

@media (min-width: 768px) and (max-width: 991px) {

	.article .article-picture .article-picture-caption h2 {
		font-size: 1.5em;
		margin: 0;
	}

	.post-date .underline {
		margin-left: -40px;
	}

}

@media (max-width: 767px) {

	ol {
		font-size: 0.7em;
	}

	.article .article-picture {
		overflow: hidden;
	}

	.article .article-picture img {
		width: 160%;

	}

	.article .article-picture .article-picture-caption h2 {
		font-size: 1.3em;
		margin: 0;
	}

	.post-date + .row img {
		width: 100%;
	}

	.post-date span {
		font-size: 0.8em;
		padding-left: 0 !important;
	}

}