
.article {
	padding-left: 0;
	padding-right: 0;
	width: 100%;
	background-color: #f1f1f1;
	margin-bottom: 30px;
}


.article p {
	margin-top: 20px;
	padding: 5px 0 5px 0;
	font-size: 1.2em;
	font-family: "Montserrat-Thin";
	font-weight: 800;
}

.article .article-picture {
	position: relative;
	height: 210px;
	overflow: hidden;
}

.article .article-picture img {
	height: 100%
}

.article .article-picture .article-picture-caption {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 40px;
	position: absolute;
	background-image: linear-gradient(to top, rgba(20, 20, 20, 0.7) 35%, transparent);
	bottom: 0;
	color: white;
	font-family: "Montserrat-Regular";
}

.article .article-picture .article-picture-caption:hover {
	background-image: linear-gradient(to top, rgba(255, 77, 85, 0.85) 65%, transparent 35%);
}

.post-date {
	color: gray;
	margin-top: 20px;
	font-family: "Montserrat-Regular";

}

.post-date img {
	display: inline-block;
	width: 15px;
	margin-right: 5px;
	margin-top: -2px;
}

.post-date .underline {
	border-bottom: 1px solid gray;
	margin-left: -20px;
	margin-top: 9px;
}

.read-more-btn {
	margin-top: 30px;
	margin-bottom: 25px;
	width: 120px;
	background-color: transparent;
	border: 2px solid #ff4d55;
	padding: 7px;
	font-family: "Montserrat-Regular";
	color: #ff4d55;
	cursor: pointer;
	transition: all 0.15s ease-out 0s;
}

.read-more-btn:hover {
	background-color: #ff4d55;
	color: white;
}

.read-more-btn svg {
	margin-left: 5px;
	width: 10px;
	height: 10px;
}


.paginator {
	margin-top: 50px;
	width: 270px;
	height: 40px;
}

.page-changer li {
	box-sizing: border-box;
	list-style: none;
	float: left;
	padding: 5px 10px 5px 10px;
	font-family: "Montserrat-Regular";
}

.page-changer li:hover {
	border: 1px solid #ff4d55;
	color: #ff4d55 !important;
	background-color: rgba(255, 77, 85, 0.2);
}

.page-changer .disabled {
	pointer-events: none;
	opacity: 0.4;
}

.page-changer .active {
	border: 1px solid #ff4d55;
	color: #ff4d55 !important;
	background-color: rgba(255, 77, 85, 0.2);
}




@media (min-width: 992px) and (max-width: 1199px) {

	.article p {
		font-size: 1.1em;
	}

	.article .article-picture {
		height: 170px;
	}

	.article .article-picture .article-picture-caption {
		padding-top: 30px;
	}

	.article .article-picture .article-picture-caption h3 {
		font-size: 1.3em;
	}

	.post-date {
		font-size: 0.8em;
	}

	.post-date .underline {
		margin-left: -10px;
	}

	.read-more-btn {
		margin-top: 10px;
	}

}

@media (min-width: 768px) and (max-width: 991px) {

	.article .article-picture {
		height: 200px;
	}

	.post-date .underline {
		margin-left: -15px;
	}

}

@media (max-width: 767px) {

	.article .article-picture {
		height: 220px;
	}

	.post-date .underline {
		margin-left: -15px;
	}

	.paginator {
		margin-top: 20px;
	}

}