
.contacts {
	margin-bottom: 50px;
	font-family: "Montserrat-Regular";
}

.contacts .row:last-child {

}

.contact-form {
	background-color: #f1f1f1;
	margin-left: -15px;
	font-family: "Montserrat-Regular";
}
.contact-form button {
	margin-top: 15px;
	font-family: "Montserrat-Regular";
}

h3 {
	margin-bottom: 25px; 
	font-family: "Montserrat-Regular";
}

.contact {
	margin-bottom: 10px; 
}

.contact img {
	width: 1.6em;
}

.btns {
	margin-top: -5px;
	width: 120px;
	height: 35px;
	border: 2px solid #ff4d55;
	background-color: transparent;
	color: #ff4d55;
	margin-bottom: 50px;
	font-family: "Montserrat-Regular";
}

.form-item {
	margin-bottom: 10px;
	font-family: "Montserrat-Regular";
}

.form-item input, .form-item textarea {
	width: 100%;
	padding: 5px;
}

.map {
	padding-left: 0;
	padding-right: 0;
}

.download-block {
	margin-top: -5px;
	padding: 20px;
	background-image: url(../img/contacts/download-bg.jpg);
}

.download-pdf {
	width: 500px;
}

.download-pdf img {
	height: 30px;
}

.download-pdf span {
	margin-left: 20px;
	color: white;
	font-family: "Montserrat-Regular";
	font-size: 1.5em;
}

.download-btn {
	margin-left: 20px;
	width: 120px;
	height: 35px;
	color: white;
	font-family: "Montserrat-Regular";
	background-color: #ff4d55;
	border: none;

}

footer {
	margin-top: 0 !important;
}

@media (min-width: 768px) and (max-width: 991px) {

	.contact-form button {
		margin-top: 10px;
	}

	h3 {
		font-size: 1.4em;
	}

}

@media (max-width: 767px) {

	.contact-form button {
		margin-top: 10px;
	}

	h3 {
		font-size: 1.4em;
	}

	.download-pdf {
		width: 100%;
	}

	.download-pdf img {
		height: 25px;
	}

	.download-pdf span {
		margin-left: 5px;
		font-size: 1.1em;
	}

	.download-btn {
		margin-top: 10px;
		margin-left: 60px;
	}

}