
footer {
	background-color: rgba(0, 0, 0, 0.3);
	margin-top: 20px;
}

.nav-menu {
	background-color: rgba(0, 0, 0, 0.2);
	padding: 10px;
}

footer .col-md-12 {
	padding-left: 0;
	padding-right: 0;
}

.footer-nav {
	display: inline-block;
	border-right: 1px solid #242424;
	color: #242424;
	font-family: "Montserrat-Thin";
	font-weight: 800;
	text-align: center;
}

.footer-nav:last-child {
	border:none;
}

.footer-nav a:hover {
	border-bottom: 2px solid  #242424;
}

.footer-logo {
	padding-top: 40px;
}

.footer-logo img{
	width: 9em;
}

.footer-logo span {
	display: block;
	margin-top: 5px;
	font-family: "Montserrat-Thin";
	font-weight: 800;
	font-size: 0.8em;
	color: #242424;
}

.address {
	padding-top: 30px;
}

.address img {
	width: 1em;
}

.address span {
	display: block;
	margin-top: 15px;
	font-family: "Montserrat-Regular";
	font-weight: 100;
	font-size: 1em;
	color: #242424;
}

.phone {
	padding-top: 30px;
	padding-left: 0;
}

.phone img {
	width: 1.4em;
}

.phone span {
	display: block;
	margin-top: 15px;
	font-family: "Montserrat-Regular";
	font-weight: 100;
	font-size: 1em;
	color: #242424;
}

.mail {
	padding-top: 30px;
	padding-left: 0;

}

.mail img {
	width: 1.6em;
}

.mail span {
	display: block;
	margin-top: 18px;
	font-family: "Montserrat-Regular";
	font-weight: 100;
	font-size: 0.9em;
	color: #242424;
}

.social-media {
	padding-top: 30px;
	padding-left: 0;
	text-align: center;

}

.social-media span {
	display: block;
	font-family: "Montserrat-Thin";
	font-weight: 800;
	font-size: 1em;
	color: #242424;
}

.social-icon-linkedIn, .social-icon-facebook {
	position: relative;
	display: inline-block;
	width: 40px;
	height: 40px !important;
	border-radius: 20px;
	border:1px solid #242424;
	margin-top: 15px;
	height:50px;
	padding: 5px;
	transition: all 0.2s ease-out 0s;
}

.social-icon-linkedIn img {
	position: absolute;
	height: 20px;
	top: 7px;
	left: 6px;
	transition: all 0.2s ease-out 0s;
}

.social-icon-facebook img {
	position: absolute;
	height: 20px;
	top: 8px;
	left: 5px;
	transition: all 0.2s ease-out 0s;
}

.hover-social-media {
	background-color: #242424;
	transition: all 0.2s ease-out 0s;
}

.sign-up-form span {
	display: block;
	font-family: "Montserrat-Thin";
	font-weight: 800;
	font-size: 1em;
	color: #242424;
	margin-bottom: 15px;
}

.sign-up-form input {
	width: 100%;
	padding: 5px;
	font-family: "Montserrat-Regular";
	font-weight: 100;
	font-size: 0.9em;
	color: black;
	margin-bottom: 5px;
	border: none;
}

.sign-up-form button {
	border: 1px solid #242424;
	padding: 5px;
	font-family: "Montserrat-Regular";
	font-weight: 100;
	font-size: 0.9em;
	width: 110px;
	text-align: center;
	color: #242424;
	background-color: transparent;
	margin-bottom: 30px;
	margin-top: 15px;
	transition: all 0.2s ease-out 0s;
}

.sign-up-form button:hover {
	background-color: #242424;
	transition: all 0.2s ease-out 0s;
	color: #a4a4a4;
}

.visible {
	display: block;
	transition: all 0.3s ease-out 0s;
}


@media (min-width: 1200px) {

	footer {
		margin-top: 40px;
	}

	.footer-nav {
		width: 13.9%;
		font-size: 1.3em;
	}

	.phone {
		margin-left: -40px;
	}

	.mail {
		margin-left: -40px;
	}

	.sign-up-form {
		padding-right: 0;
		width: 270px;
		padding-top: 30px;
	}

}

@media (min-width: 992px) and (max-width: 1199px) {

	.footer-nav {
		width: 13.9%;
		font-size: 1.1em;
	}

	.footer-logo {
		padding-top: 30px;
		padding-left: 0;
		padding-right: 0;
		margin-left: 0;
	}

	.address span {
		font-size: 0.9em;
	}

	.phone {
		margin-left: -20px;
	}

	.phone span {
		font-size: 0.9em;
	}

	.mail {
		margin-left: -10px;
	}

	.social-media {
		margin-left: -40px;
	}

	.social-media span {
		font-size: 0.9em;
	}

	.sign-up-form {
		padding-right: 0;
		padding-left: 0;
		width: 220px;
		padding-top: 30px;
	}

	.sign-up-form span {
		font-size: 0.8em;
	}

}

@media (min-width: 768px) and (max-width: 991px) {

	.footer-nav {
		width: 13.8%;
		font-size: 1.1em;
	}

	.footer-logo {
		padding-top: 30px;
		padding-left: 30px;
		padding-right: 0;
		margin-left: 0;
	}

	.footer-logo img{
		width: 10em;
	}

	.address {
		padding-left: 45px;
	}

	.address img {
		width: 1.3em;
	}

	.phone {
		padding-left: 30px;
	}

	.phone img {
		width: 1.7em;
	}

	.mail {
		padding-left: 20px;
	}

	.mail img {
		width: 1.8em;
	}

	.mail span {
		font-size: 1em;
	}

	.social-media {
		margin-left: -30px;
	}

	.sign-up-form {
		padding-right: 0;
		margin-left: 20px;
		margin-top: 30px;
	}

}

@media (max-width: 767px) {

	.footer-nav {
		width: 13.8%;
		font-size: 1.1em;
	}

	.footer-logo {
		border-top: 1px solid rgba(0, 0, 0, 0.1);
		text-align: center;
		padding-top: 20px;
		padding-bottom: 20px;
	}

	.footer-logo img{
		width: 10em;
	}

	.address {
		padding-top: 20px;
		padding-left: 20px;
		text-align: center;
	}

	.address img {
		width: 1.3em;
	}

	.phone {
		padding-top: 20px;
		padding-left: 20px;
		text-align: center;
	}

	.phone img {
		width: 1.7em;
	}

	.mail {
		padding-left: 20px;
		text-align: center;
	}

	.mail img {
		width: 1.8em;
	}

	.mail span {
		font-size: 1em;
	}

	.social-media {
		margin-left: 10px;
	}

	.sign-up-form {
		padding-right: 10px;
		padding-left: 10px;
		margin-top: 30px;
		text-align: center;
	}

}