@font-face {
	font-family: Montserrat-Bold;
    src: url(../fonts/Montserrat-Bold.ttf);
}

@font-face {
	font-family: Montserrat-Regular;
    src: url(../fonts/Montserrat-Regular.ttf);
}

@font-face {
	font-family: Montserrat-Thin;
    src: url(../fonts/Montserrat-Thin.ttf);
}

* {
	outline: none;
}

body {
	background-color: rgb(248, 248, 248);
}

a, a:hover, a:visited, a:active, a:link {
	color: #261e1e;
	text-decoration: none;
}

ol {
	font-family: "Montserrat-Regular";
}

h1 {
	margin-top: 0;
	margin-bottom: 30px;
	font-weight: 600;
	font-family: "Montserrat-Regular";
}