

.logo img{
	padding-top: 10px;
	width: 10em;
}

.navigation li {
	margin-top: 20px;
	list-style: none;
	float: left;
	color:  #261e1e;
	font-size: 1.1em;
	font-family: "Montserrat-Regular";
	font-weight: 100;
}

.navigation li:hover {
	border-bottom: 2px solid gray;
}

header .col-md-1:last-child {
	padding-right: 0 !important;
}

.change-lang {
	display: inline-block;
	background-color: #e0e0e0;
	padding: 5px;
	color: gray;
	width: 55px;
	height: 30px;
	cursor: pointer;
}

.change-lang span {
	margin-left: 5px;
	font-weight: 600;
}

.change-lang svg {
	margin-right: 8px;
	margin-top: 8px;
	width: 10px;
	height: 10px;
}

.hidden-elements {
	position: relative;
}

.lang-changer {
	display: none;
	position: absolute;
	top: 45px;
	z-index: 1000;
	background-color: rgb(224, 224, 224);
	margin-left: -10px;
	font-family: "Montserrat-Regular";
	font-weight: 600;
	color:  gray;
	width: 55px;
	transition: all 0.2s ease-out 0s;
}

.lang-changer div {
	padding: 5px 0 5px 10px;
	cursor: pointer;
}

.lang-changer div:hover {
	background-color: gray;
	color: rgb(224, 224, 224);
}

.search {
	position: relative;
	background-color: #e0e0e0;
	border:5px solid #e0e0e0;
	width: 30px;
	margin-top: 15px;
	cursor: pointer;
	transition: all 0.3s ease-out 0s;
}

.search img {
	margin-left: 2px;
	width: 15px;
}

.searching {
	display: none;
	position: absolute;
	border: 4px solid #e0e0e0;
	top: -5px;
	right: 100%;
	width: 200px;
	background-color: #f1f1f1;
}

.search:hover {
	background-color: #7a7a7a;
	transition: all 0.3s ease-out 0s;
}






@media (min-width: 1200px) {

	.navigation {
		margin-left: 40px;
	}

	.navigation li {
		margin-right: 30px;
	}

	.change-lang {
		margin-top: 15px;
		margin-left: -10px;
	}

	.lang-changer {
		left:15px;
	}

}

@media (min-width: 992px) and (max-width: 1199px) {

	.navigation {
		margin-left: -50px;
	}

	.navigation li {
		margin-right: 25px;
	}

	.change-lang {
		margin-top: 15px;
		margin-left: -30px;
	}

	.lang-changer {
		left:-5px;
	}

}

@media (min-width: 768px) and (max-width: 991px) {
	
	.hamburger {
		padding-left: 0;
	}

	.dropdown {
		margin-top: 15px;
		padding-left: 0;
		z-index: 1001;
	}

	.dropdown button {
		border: none;
		border-radius: 0;
		background-color: rgb(248, 248, 248);
		font-size: 1.4em;
	}

	.dropdown-menu {
		border-radius: 0;
	}

	.logo {
		padding-left: 0;
	}

	.navigation {
		margin-left: -50px;
	}

	.navigation li {
		margin-right: 25px;
	}

	.change-lang {
		margin-top: 20px;
		margin-left: 15px;
	}

	.lang-changer {
		top: 50px;
		left:40px;
	}

	.search {
		height: 30px;
		margin-top: 20px;
	}

	.searching {
		border: 5px solid #e0e0e0;
	}


}

@media (max-width: 767px) {
	
	.hamburger {
		padding-left: 0;
	}

	.dropdown {
		margin-top: 15px;
		padding-left: 0;
	}

	.dropdown button {
		border: none;
		border-radius: 0;
		background-color: rgb(248, 248, 248);
		font-size: 1.4em;
	}

	.dropdown-menu {
		border-radius: 0;
	}

	.logo {
		padding-left: 0;
	}

	.logo img {
		width: 8em;
	}

	.navigation {
		margin-left: -50px;
	}

	.navigation li {
		margin-right: 25px;
	}

	.change-lang {
		width: 50px;
		margin-top: 15px;
		margin-left: -10px;
	}

	.change-lang span {
		font-size: 0.9em;
	}

	.change-lang svg {
		margin-right: 5px;
	}

	.lang-changer {
		left:15px;
		width: 50px;
	}

	.search {
		height: 30px
	}

	.searching {
		border: 5px solid #e0e0e0;
	}	

}
