.slider {
	padding-left: 0;
	padding-right: 0;
	margin-top: 25px;
	background-color: rgba(0,0,0,0.1);

}

.slider img {
	width: 100%;
}

.slider .slide-left {
	position: absolute;
	top: 45%;
	left: 20px;
	width: 15px;
	cursor: pointer;
}

.slider .slide-right {
	position: absolute;
	right: 20px;
	top: 45%;
	width: 15px;
	cursor: pointer;
}
.slider .slider-article {
	position: absolute;
	top:25%;
	left: 10%;
	background-color: rgba(30,30,30,0.5);
	width: 35%;
	height: 50%;
	color: white;
	padding-left: 5%;
}

.slider-article h3 {
	font-size: 2em;
	font-weight: 800;
	font-family: "Montserrat-Regular";
}

.slider-article p {
	font-size: 1.3em;
	font-weight: 200;
	font-family: "Montserrat-Regular";
}

.btn-read {
	margin-top: 20px;
	background-color: #ff4d55;
	width: 40%;
	height: 35px;
	font-family: "Montserrat-Regular";
	font-size: 1.2em;
	padding-left: 20px;
	padding-top: 5px;
	cursor: pointer;
}

.btn-read img {
	width: 7px;
}

.thin-banner {
	margin-top: 20px;
	background-color: #fec64d;
	height: 80px;
	text-align: center;
	padding-top: 5px;
}

.thin-banner h3 {
	font-family: "Montserrat-Regular";
	color: white;
	font-size: 2em;
}

.ps1 {
	padding-left: 0 !important;
	padding-right: 10px;
}

.ps2 {
	padding-right: 0 !important;
	padding-left: 10px;
}

.portfolio {
	position: relative;
	margin-top: 20px;
	padding-left: 0;
	background-image: url(../img/mainPage/portfolio-img.png);
	background-size: 100%;
	height: 280px;
	transition: all 0.3s ease-out 0s;
}

.portfolio:hover {
	background-color: #ff4d55;
	background-image: url(../img/mainPage/ps-bg.png);
	box-shadow: 4px 4px 10px 2px rgba(0, 0, 0, 0.4);
	transform: translateX(-2px) translateY(-2px) scale(1.005);
	transition: all 0.3s ease-out 0s;
}

.portfolio img {
	width: 80px;
	position:absolute;
	top: 35%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
}

.portfolio-text {
	position: absolute;
	left: 0;
	top: 60%;
	width: 100%;
	height: 40px;
	text-align: center;
	padding-top: 5px;
	cursor: pointer;
	transition: all 0.3s ease-out 0s;
}

.portfolio-text span {
	font-family: "Montserrat-Regular";
	font-size: 1.5em;
	padding: 5px;
	border-top: 2px solid white;
	border-bottom: 2px solid white;
	color: white;
	margin-top: 2px;
	transition: all 0.3s ease-out 0s;
}

.services {
	position: relative;
	margin-top: 20px;
	padding-right: 0;
	background-image: url(../img/mainPage/service-img.png);
	background-size: 100%;
	height: 280px;
	transition: all 0.3s ease-out 0s;
}

.services:hover {
	background-color: #ff4d55;
	background-image: url(../img/mainPage/ps-bg.png);
	box-shadow: -4px 4px 10px 2px rgba(0, 0, 0, 0.4);
	transform: translateX(2px) translateY(-2px) scale(1.005);
	transition: all 0.3s ease-out 0s;
}

.services img {
	width: 80px;
	position:absolute;
	top: 35%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
}

.hover-transition {
	background-color: white;
	transition: all 0.3s ease-out 0s;
}

.hover-transition-span {
	color: #ff4d55 !important;
	transition: all 0.3s ease-out 0s;
}

.hover-transition-span2 {
	color: #34203c !important;
	transition: all 0.3s ease-out 0s;
}

.things {
	margin-bottom: 30px;
}

.things .col-md-3 {
	padding-left: 10px;
	padding-right: 10px;
}

.things .col-md-3>div {
	position: relative;
	background-size: 100%;
	height: 170px;
	color: white;
	margin-top: 20px;
}

.career {
	background-image: url(../img/mainPage/career-bg.png);
	transition: all 0.3s ease-out 0s;
}

.career:hover {
	background-image: url(../img/mainPage/bgs.png);
	box-shadow: 3px -3px 10px 2px rgba(0, 0, 0, 0.4);
	transform: translateX(-2px) translateY(2px) scale(1.005);
	transition: all 0.3s ease-out 0s;
}

.career img, .our-team img, .blog img {
	width: 70px;
	position:absolute;
	top: 40%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
}

.contacts img {
	width: 50px;
	position:absolute;
	top: 40%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
}

.career-text {
	position: absolute;
	left: 0;
	top: 55%;
	width: 100%;
	height: 30px;
	text-align: center;
	margin-top: 10px;
	padding-top: 3px;
	transition: all 0.3s ease-out 0s;
}

.career-text span {
	font-family: "Montserrat-Regular";
	font-size: 1.2em;
	color: white;
	transition: all 0.3s ease-out 0s;
}

.our-team {
	background-image: url(../img/mainPage/our-team-bg.png);
	transition: all 0.3s ease-out 0s;
}

.our-team:hover {
	background-image: url(../img/mainPage/bgs.png);
	box-shadow: 1px -3px 10px 2px rgba(0, 0, 0, 0.4);
	transform: translateX(0px) translateY(2px) scale(1.005);
	transition: all 0.3s ease-out 0s;
}

.blog {
	background-image: url(../img/mainPage/blog-bg.png);
	transition: all 0.3s ease-out 0s;
}

.blog:hover {
	background-image: url(../img/mainPage/bgs.png);
	box-shadow: -1px -3px 10px 2px rgba(0, 0, 0, 0.4);
	transform: translateX(0px) translateY(2px) scale(1.005);
	transition: all 0.3s ease-out 0s;
}

.contacts {
	background-image: url(../img/mainPage/contacts-bg.png);
	transition: all 0.3s ease-out 0s;
}

.contacts:hover {
	background-image: url(../img/mainPage/bgs.png);
	box-shadow: -3px -3px 10px 2px rgba(0, 0, 0, 0.4);
	transform: translateX(2px) translateY(2px) scale(1.005);
	transition: all 0.3s ease-out 0s;
}

.text-area {
	text-align: left;
	font-family: "Montserrat-Thin";
	font-size: 1.1em;
	font-weight: 800;
	padding-bottom: 40px;
	color: #242424;
}


@media (min-width: 1200px) {

}

@media (min-width: 992px) and (max-width: 1199px) {

	.slider-article h3 {
		font-size: 1.8em;
	}

	.slider-article p {
		font-size: 1.1em;
	}

	.btn-read {
		margin-top: 15px;
		font-size: 1.1em;
		padding-left: 10px;
	}

	.btn-read img {
		margin-left: 4px;
	}

	.thin-banner h3 {
		font-size: 1.8em;
	}

	.portfolio {
		height: 230px;
	}

	.portfolio img {
		width: 70px;
	}

	.portfolio-text span {
		padding: 5px;
	}

	.services {
		height: 230px;
	}

	.services img {
		width: 70px;
	}

	.things {
		margin-bottom: 20px;
	}

	.things .col-md-3>div {
		height: 145px;
	}

	.career img, .our-team img, .blog img {
		width: 50px;
	}

	.contacts img {
		width: 35px;
	}

	.career-text {
		padding-top: 5px;
	}

	.career-text span {
		font-size: 1em;
	}

	.text-area {
		padding-bottom: 40px;
	}
}

@media (min-width: 768px) and (max-width: 991px) {


	.slider-article h3 {
		margin-top: 10px;
		font-size: 1.5em;
	}

	.slider-article p {
		font-size: 0.9em;
	}

	.btn-read {
		margin-top: 10px;
		height: 30px;
		font-size: 0.9em;
		padding-left: 5px;
	}

	.btn-read img {
		width: 6px;
		margin-left: 2px;
	}

	.thin-banner {
		height: 60px;
		padding-top: 0;
	}

	.thin-banner h3 {
		font-size: 1.4em;
	}

	.ps1, .sp1 {
		padding-left: 0 !important;
		padding-right: 10px;
	}

	.ps2, .sp2 {
		padding-right: 0 !important;
		padding-left: 10px;
	}

	.portfolio {
		height: 175px;
	}

	.portfolio img {
		width: 50px;
	}

	.portfolio-text {
		height: 30px;
		padding-top: 2px;
	}

	.portfolio-text span {
		font-size: 1.3em;
		padding: 0;
	}

	.services {
		height: 175px;
	}

	.services img {
		width: 50px;
	}

	.things {
		margin-bottom: 20px;
	}

	.things .col-md-3>div {
		height: 175px;
	}

	.career img, .our-team img, .blog img {
		width: 50px;
	}

	.contacts img {
		width: 35px;
	}

	.career-text {
		padding-top: 5px;
	}

	.career-text span {
		font-size: 1em;
	}

	.text-area {
		font-size: 1.2em;
		padding-bottom: 20px;
	}
}

@media (max-width: 767px) {

	.slider {
		margin-top: 5px;
		overflow: hidden;
	}

	.slider img {
		width: 120%;
	}

	.slider .slide-left {
		left: 10px;
		width: 10px;
	}

	.slider .slide-right {
		right: 10px;
		width: 10px;
	}

	.slider .slider-article {
		top:15%;
		width: 45%;
		height: 70%;
	}

	.slider-article h3 {
		margin-top: 5px;
		margin-bottom: 0;
		font-size: 1.1em;
	}

	.slider-article p {
		margin-top: 2px;
		margin-bottom: 0;
		font-size: 0.7em;
	}

	.btn-read {
		margin-top: 5px;
		width: 50%;
		height: 20px;
		font-size: 0.7em;
		padding-left: 5px;
		padding-top: 3px;
	}

	.btn-read img {
		display: none;
	}

	.thin-banner {
		margin-top: 5px;
		height: 50px;
		padding-top: 0;
	}

	.thin-banner h3 {
		font-size: 1.1em;
		margin-top: 10px;
	}

	.ps1, .sp1, .ps2, .sp2 {
		padding-left: 0 !important;
		padding-right: 0 !important;
	}

	.portfolio {
		margin-top: 5px;
		height: 155px;
	}

	.portfolio img {
		width: 40px;
	}

	.portfolio-text {
		height: 30px;
		padding-top: 4px;
	}

	.portfolio-text span {
		font-size: 1.1em;
		margin-top: 5px;
		padding: 0;
	}

	.services {
		margin-top: 5px;
		height: 155px;
	}

	.services img {
		width: 40px;
	}

	.things {
		margin-bottom: 20px;
	}

	.things .col-md-3>div {
		height: 175px;
		margin-top: 5px;
	}

	.career img, .our-team img, .blog img {
		width: 50px;
	}

	.contacts img {
		width: 35px;
	}

	.career-text {
		padding-top: 5px;
	}

	.career-text span {
		font-size: 1em;
	}

	.text-area {
		font-size: 1.2em;
		font-weight: 800;
		padding-bottom: 10px;
	}
}