
h2 {
  font-family: "Montserrat-Regular";
  margin-bottom: 40px;
}

.laptop {
  background-image: url(../img/portfolio-project/laptop_PNG5888.png);
  background-size: 100%;
}

.laptop-slider {
  width: calc(100% - 74px);
  height: 362px;
  overflow: hidden;
  margin-top: 29px;
  margin-left: 37px;
  margin-bottom: 160px;
}

.carousel-control {
  padding-top: 155px;
}

.caption {
  font-family: "Montserrat-Bold";
  margin-bottom: 20px;
} 

.description {
  font-family: "Montserrat-Thin";
  font-weight: 800;
}

.technology {
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 5px;
  margin-bottom: 5px;
  cursor: pointer;
  transition: all 0.15s ease-out 0s;
}

.technology:hover {
  background-color: #ff4d55;
  color: white;
}

.other {
  font-family: "Montserrat-Regular";
  margin-top: 80px;
}

.clear {
  margin-top: -1px;
  height: 1px;
  clear:both;
  zoom: 1;
}  

.slider {
  width: 100%;
  margin: 50px auto;
  padding: 0 30px;
  position: relative;
}

.slider::-moz-selection { background: transparent; color: #fff; text-shadow: none; }
.slider::selection { background: transparent; color: #fff; text-shadow: none; }

.slide-list {
  position: relative;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.slide-wrap {
  position: relative;
  left: 0px;
  top: 0;
  width: 10000000px;
}

.slide-item {
  position: relative;
  width: 270px;
  padding: 10px;
  float: left;
  overflow: hidden;
}

.hover-item {
  position: absolute;
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  top: 10px;
  left: 10px;
  font-family: "Montserrat-Regular";
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  opacity:0;
  transition: all 0.2s ease-out 0s;
}

.opacity-1 {
  opacity: 1;
  transition: all 0.2s ease-out 0s;
}

.hover-item h4 {
  margin-top: 85px;
}

.hover-item button {
  width: 120px;
  height: 40px;
  border: none;
  background-color: #ff4d55;
  margin-top: 10px;
}

.hover-item button img {
  width: 6px;
  border:none;
}

.slide-item img {
  width: 100%;
  border: 1px solid gray;
}

.navy {
  position: absolute;
  top: 40%;
  z-index: 1;
  height: 20%;
  width: 25px;
  cursor: pointer;
}

.navy img {
  width: 15px;
  height: 40px;
  margin-top: 8px;
  margin-left: 5px;
}

.prev-slide {
  left: 40px;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1001;
}

.next-slide {
  background-color: rgba(0, 0, 0, 0.7);
  right: 40px;
  z-index: 1001;
}



@media (min-width: 992px) and (max-width: 1199px) {

  .laptop-slider {
    width: calc(100% - 54px);
    height: 302px;
    margin-top: 23px;
    margin-left: 27px;
    margin-bottom: 130px;
  }

  .slide-item {
    width: 220px;
  }

  .hover-item h4 {
    margin-top: 65px;
    font-size: 1.2em;
  }

  .hover-item button {
    height: 35px;
  }

  .navy {
    top: 35%;
    height: 30%;
  }

  .navy img {
    margin-top: 13px;
  }

}

@media (min-width: 768px) and (max-width: 991px) {

  .laptop-slider {
    width: calc(100% - 80px);
    height: 402px;
    margin-top: 30px;
    margin-left: 40px;
    margin-bottom: 170px;
  }

  .carousel-control {
    padding-top: 175px;
  }

  .properties {
    margin-top: 50px;
  }

  .other {
    margin-top: 40px;
  }

  .slide-item {
    width: 220px;
  }

  .hover-item h4 {
    margin-top: 65px;
    font-size: 1.2em;
  }

  .hover-item button {
    height: 35px;
  }

  .navy {
    top: 35%;
    height: 30%;
  }

  .navy img {
    margin-top: 13px;
  }

}

@media (max-width: 767px) {

  .laptop-slider {
    width: calc(100% - 34px);
    height: 227px;
    margin-top: 17px;
    margin-left: 17px;
    margin-bottom: 100px;
  }

  .carousel-control {
    padding-top: 85px;
  }

  .properties {
    margin-top: 50px;
  }

  .other {
    margin-top: 30px;
  }

  .slider {
    margin: 20px auto;
  }

  .slide-item {
    width: 167px;
  }

  .hover-item h4 {
    margin-top: 40px;
    font-size: 0.9em;
  }

  .hover-item button {
    width: 100px;
    height: 30px;
    font-size: 0.8em;
  }

  .navy {
    top: 35%;
    height: 30%;
  }

  .navy img {
    margin-top: 13px;
  }

}

@media (max-width: 424px) {

  .laptop-slider {
    width: calc(100% - 26px);
    height: 200px;
    margin-top: 16px;
    margin-left: 13px;
    margin-bottom: 90px;
  }

  .carousel-control {
    padding-top: 75px;
  }

  .properties {
    margin-top: 30px;
  }

  .other {
    margin-top: 30px;
  }

  .slider {
    margin: 20px auto;
  }

  .slide-item {
    width: 142px;
  }

  .hover-item h4 {
    margin-top: 25px;
    font-size: 0.9em;
  }

  .hover-item button {
    width: 100px;
    height: 30px;
    font-size: 0.8em;
  }

  .navy {
    top: 35%;
    height: 30%;
  }

  .navy img {
    margin-top: 13px;
    height: 20px;
  }

}

@media (max-width: 374px) {

  .laptop-slider {
    width: calc(100% - 18px);
    height: 175px;
    margin-top: 12px;
    margin-left: 9px;
    margin-bottom: 70px;
  }

  .carousel-control {
    padding-top: 65px;
  }

  .properties {
    margin-top: 50px;
  }

  .other {
    margin-top: 30px;
  }

  .slider {
    margin: 20px auto;
  }

  .slide-item {
    width: 230px;
  }

  .hover-item h4 {
    margin-top: 65px;
    font-size: 1.2em;
  }

  .hover-item button {
    height: 35px;
  }

  .navy {
    top: 35%;
    height: 30%;
  }

  .navy img {
    margin-top: 13px;
  }

}