
h1 {
	margin-top: 0;
	margin-bottom: 30px;
}

.sub-menu {
	margin-bottom: 30px;
}

.sub-menu li {
	float: left;
	font-size: 1.2em;
	list-style: none;
	font-family: "Montserrat-Regular";
	color: #777676;
	margin-right: 25px;
	cursor: pointer;
	transition: all 0.15s ease-out 0s;
}

.sub-menu li:hover {
	color: #ec2028;
	transition: all 0.15s ease-out 0s;

}

.sub-menu li img {
	width: 30px;
	margin-right: 5px;
}

.project-item {
	height: 310px;
	margin-bottom: 20px;
}

.project-picture {
	width: 100%;
	height: 240px;
	position: relative;
}

.project-picture img{
	width: 100%;
	height: 240px;
	border: 1px solid lightgray;
	transition: all 0.15s ease-out 0s;
}

.project-picture img:hover {
	opacity: 0;
	transition: all 0.15s ease-out 0s;
}

.project-picture .hover-view {
	position: absolute;
	top: 0;
	left: 15px;
	width: calc(100% - 30px);
	height: 240px;
	z-index: 1000;
	background-color: #3a3a3a;
	box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.5);
	opacity: 0;
	transition: all 0.15s ease-out 0s;
}

.hover-view div {
	width: 120px;
	height: 40px;
	background-color: #ff4d55;
	color: white;
	font-family: "Montserrat-Regular";
	font-size: 0.9em;
	margin-top: 100px;
	cursor: pointer;
}

.hover-view div span {
	display: inline-block;
	margin-top: 10px;
	margin-left: 10px;

}

.hover-view div img {
	height: 12px;
	width: 6px;
	border: none;
}

.opacity-1 {
	opacity: 1 !important;
	transition: all 0.15s ease-out 0s;
} 

.project-caption h4 {
	font-family: "Montserrat-Regular";
	margin-bottom: 0;

}

.likes-counter {
	display: inline-block;
	margin-top: 5px;
}

.likes-counter img {
	width: 13px;
	margin-right: 5px;
}

.likes-counter span {
	font-family: "Montserrat-Regular";
	color: #aeaeae;
	font-size: 1em;
}

.project-category span {
	font-family: "Montserrat-Regular";
	color: #989898;
	font-size: 0.9em;
	text-decoration: underline;
	cursor: pointer;
	transition: all 0.15s ease-out 0s;
}

.project-category span:hover {
	color: #ff4d55;
	transition: all 0.15s ease-out 0s;
}

.load-button {
	width: 140px;
	height: 40px;
	background-color: #ff4d55;
	margin-top: 20px;
	margin-bottom: 50px;
	padding-top: 8px;
	cursor: pointer;
}

.load-button span {
	font-family: "Montserrat-Regular";
	color: #fff;
	font-size: 1.1em;
}

.load-button img {
	height: 12px;
}



@media (min-width: 992px) and (max-width: 1199px) {

	.sub-menu li {
		margin-right: 23px;
	}

}

@media (min-width: 768px) and (max-width: 991px) {

	h1 {
		margin-bottom: 10px;
	}

	.sub-menu {
		margin-bottom: 20px;
	}

	.sub-menu li {
		font-size: 1em;
		margin-right: 15px;
	}

	.sub-menu li img {
		width: 10px;
	}

}

@media (max-width: 767px) {

	h1 {
		margin-bottom: 10px;
	}

	.sub-menu {
		margin-bottom: 20px;
		padding: 0;
	}

	.sub-menu li {
		clear: both;
		padding-bottom: 10px;
		font-size: 1.3em;
		margin-right: 15px;
	}

	.sub-menu li img {
		width: 15px;
	}

	.project-item {
		padding-left: 15px;
		padding-right: 0;
	}

}