

.content-changer {
  overflow: hidden;
  position: relative;
  height: 310px;
}

.content-changer img {
  width: 100%;
  position: absolute;
}

.choose-btn1, .choose-btn2 {
  background-color: rgba(70, 70, 70, 0.6);
  height: 313px;
  transform: skewX(-17deg);
  padding-left: 0;
  padding-right: 0;
}

.choose-btn1 {
  width: 55%;
  margin-left: -5%;
}

.choose-btn2 {
  width: 55%;
  margin-right: -5%;
}

.choose-btn1 .outstaff {
  transform: skewX(17deg);
  margin-left: 280px;
  margin-top: 130px;
  background-color: transparent;
  border: 1px solid white;
  font-family: "Montserrat-Regular";
  color: white;
  font-size: 2em;
  padding: 5px 30px 5px 30px;
}

.choose-btn2 .outsource {
  transform: skewX(17deg);
  margin-left: 150px;
  margin-top: 130px;
  background-color: transparent;
  border: 1px solid white;
  font-family: "Montserrat-Regular";
  color: white;
  font-size: 2em;
  padding: 5px 30px 5px 30px;
}

.paragraph {
  background-color: #f0f0f0;
  font-family: "Montserrat-Thin";
  font-weight: 800;
  font-size: 1.4em;
  padding-top: 40px;
  padding-bottom: 40px;
}

.outsource-thing {
  font-family: "Montserrat-Regular";
  padding-top: 20px;
  padding-bottom: 30px; 
}

.extend {
  padding-top: 10px;
}

.extend h3 {
  margin-top: 45px !important;
}

.outsource-thing img {
  float: left;
  width: 60px;
  margin-right: 30px;
  margin-bottom: 20px;
}

.outsource-thing h3 {
  margin-top: 35px;
}

.outsource-thing span {
  font-family: "Montserrat-Thin";
  font-weight: 800;
  font-size: 1.2em;
}

.hands-banner {
  height: 400px;
  overflow: hidden;
  padding-left: 0;
  padding-right: 0;
}

.hands-banner img {
  width: 150%;
}

.team-article h3{
  font-family: "Montserrat-Regular";
  margin-bottom: 30px;
}

.team-article span {
  font-family: "Montserrat-Thin";
  font-weight: 800;
  font-size: 1.2em;
}

.base-banner {
  position: relative;
  margin-top: 30px;
  height: 570px;
  overflow: hidden;
  padding-left: 0;
  padding-right: 0;
}

.base-banner img {
  width: 145%;
  margin-left: -300px;
}

.base {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
}

.base-article {
  background-color: rgba(255, 255, 255, 0.7);
  margin-top: 60px;
  padding: 0 30px 20px 30px;
}

.base-article h3 {
  font-family: "Montserrat-Regular";
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 15px;
  margin-top: 20px;
}

.base-article span {
  font-family: "Montserrat-Thin";
  font-weight: 800;
  font-size: 1.15em;
  overflow: hidden;
}

.cooperation {
  margin-top: 20px;
}

.cooperation h3 {
  text-align: center;
  font-family: "Montserrat-Regular";
}

.cooperation span {
  font-family: "Montserrat-Thin";
  font-size: 1.2em;
  font-weight: 800;
}

.hands-img {
  margin-top: 100px;
  margin-left: 100px;
  width: 300px;
  height: 300px;
  border: 5px solid gray;
  border-radius: 150px;
}

.hands-img img {
  width: 70%;
  margin-left: 46px;
  margin-top: 90px;
}

.underlined {
  border-bottom: 2px solid lightgray;
  padding-bottom: 50px;
}

.outstaff-thing {
  margin-top: 40px;
}

.outstaff-thing img {
  width: 80px;
  float: left;
  margin-right: 15px;
}

.medium {
  width: 70px !important;
}

.outstaff-thing p {
  font-family: "Montserrat-Thin";
  font-weight: 800;
  font-size: 1.3em;
  padding-right: 20px;
}

.laptop-banner {
  padding-left: 0;
  padding-right: 0;
  height: 450px;
  margin-top: 40px;
  margin-bottom: 80px;
  overflow: hidden;
}

.laptop-banner img {
  width: 175%;
  margin-left: -150px;
}

.working-cycle {
  position: relative;
  height: 500px;
}

.start {
  position: absolute;
  left: 20px;
}

.start img {
  width: 60px;
}
.start h4 {
  font-family: "Montserrat-Regular";
  color: #ff4d55;
  font-size: 1.5em;
}

.brainstorm {
  position: absolute;
  width: 320px;
  left: 80px;
  top: 100px;
}

.brainstorm img {
  width: 65px;
  margin-left: 135px;
}

.brainstorm h4 {
  font-family: "Montserrat-Regular";
  color: #ff4d55;
  font-size: 1.5em;
}

.brainstorm p {
  font-family: "Montserrat-Thin";
  font-weight: 800;
  font-size: 1.3em;
}

.development {
  position: absolute;
  width: 300px;
  left: 430px;
  top: 0;
}

.development img {
  width: 70px;
  margin-left: 110px;
}

.development h4 {
  text-align: center;
  font-family: "Montserrat-Regular";
  color: #ff4d55;
  font-size: 1.5em;
}

.development p {
  font-family: "Montserrat-Thin";
  font-weight: 800;
  font-size: 1.3em;
}

.launch {
  position: absolute;
  width: 300px;
  left: 760px;
  top: 100px;
}

.launch img {
  width: 70px;
  margin-left: 110px;
}

.launch h4 {
  text-align: center;
  font-family: "Montserrat-Regular";
  color: #ff4d55;
  font-size: 1.5em;
}

.launch p {
  font-family: "Montserrat-Thin";
  font-weight: 800;
  font-size: 1.3em;
}

.release {
  position: absolute;
  right: 15px;
}

.release img {
  width: 80px;
}
.release h4 {
  font-family: "Montserrat-Regular";
  color: #ff4d55;
  font-size: 1.5em;
}

.first-line {
  position: absolute;
  left: 80px;
  top: 50px;
  width: 130px;
  height: 100px;
}

.second-line {
  position: absolute;
  left: 290px;
  top: 0;
  width: 250px;
  height: 140px;
}

.third-line {
  position: absolute;
  left: 610px;
  top: 0;
  width: 250px;
  height: 140px;
}

.fourth-line {
  position: absolute;
  left: 940px;
  top: 50px;
  width: 130px;
  height: 100px;
}

.price-info {
  padding-left: 0;
  padding-right: 0;
  background-image: url(../img/services/coffee.png);
  background-size: 145%;
  background-position: 30% top; 
  height: 550px;
}

.articles {
  width: 100%;
  height: 100%;
  background-color: rgba(70, 70, 70, 0.6);
}

.article-fixed {
  margin-top: 80px;
  padding-right: 50px;
}

.article-fixed img {
  width: 130px;
  margin-left: 145px;
}

.article-fixed h3 {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 25px;
  font-size: 1.7em;
  color: white;
  font-family: "Montserrat-Regular";
}

.fixed-description {
  background-color: rgba(255, 255, 255, 0.6);
}

.article-fixed p:first-child {
  padding: 20px 30px 10px 30px;
  font-family: "Montserrat-Regular";
  font-size: 1.2em;
}

.article-fixed p:last-child {
  padding: 0 30px 20px 30px;
  font-family: "Montserrat-Thin";
  font-weight: 800;
  font-size: 1.1em;
}

.article-hourly {
  margin-top: 80px;
  padding-left: 50px;
}

.article-hourly img {
  width: 110px;
  margin-left: 145px;
}

.article-hourly h3 {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 25px;
  font-size: 1.7em;
  color: white;
  font-family: "Montserrat-Regular";
}

.fixed-description {
  background-color: rgba(255, 255, 255, 0.6);
}

.article-hourly p:first-child {
  padding: 20px 30px 10px 30px;
  font-family: "Montserrat-Regular";
  font-size: 1.2em;
}

.article-hourly p:last-child {
  padding: 0 30px 20px 30px;
  font-family: "Montserrat-Thin";
  font-weight: 800;
  font-size: 1.1em;
}

.portfolio-service {
  font-family: "Montserrat-Regular";
  margin-top: 80px;
}

.portfolio-clear {
  margin-top: -1px;
  height: 1px;
  clear:both;
  zoom: 1;
}  

.portfolio-slider {
  width: 100%;
  margin: 50px auto;
  padding: 0 30px;
  position: relative;
}

.portfolio-slider::-moz-selection { background: transparent; color: #fff; text-shadow: none; }
.portfolio-slider::selection { background: transparent; color: #fff; text-shadow: none; }

.portfolio-slide-list {
  position: relative;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.portfolio-slide-wrap {
  position: relative;
  left: 0px;
  top: 0;
  width: 10000000px;
}

.portfolio-slide-item {
  position: relative;
  width: 360px;
  padding: 10px;
  float: left;
  overflow: hidden;
}

.portfolio-slide-item img {
  width: 100%;
}

.portfolio-slide-item h4 {
  font-family: "Montserrat-Regular";
  margin-top: 15px;
}

.portfolio-likes-counter {
  display: inline-block;
  margin-top: 15px;
  margin-right: 5px;
}

.portfolio-likes-counter img {
  width: 13px;
  margin-right: 5px;
  border: none;
}

.portfolio-likes-counter span {
  font-family: "Montserrat-Regular";
  color: #aeaeae;
  font-size: 1em;
}

.portfolio-project-category {
  position: absolute;
  bottom: 0;
  left: 10px;
}

.portfolio-project-category span {
  font-family: "Montserrat-Regular";
  color: #989898;
  font-size: 0.9em;
  text-decoration: underline;
  cursor: pointer;
  transition: all 0.15s ease-out 0s;
}

.portfolio-project-category span:hover {
  color: #ff4d55;
  transition: all 0.15s ease-out 0s;
}

.portfolio-navy {
  position: absolute;
  top: 35%;
  z-index: 1;
  height: 20%;
  width: 25px;
  cursor: pointer;
}

.portfolio-navy img {
  width: 30px;
  height: 60px;
}

.portfolio-navy:last-child img {
  margin-top: 15px;
}

.portfolio-prev-slide {
  left: 0;
  z-index: 1001;
}

.portfolio-next-slide {
  right: 0;
  z-index: 1001;
}

.reviews {
  margin-top: 60px;
}

.review-slider {
  z-index: 9;
  height: 330px;
  overflow: hidden;
  margin: 0 0 30px;
  position: relative;
  padding-left: 0;
  padding-right: 0;
 }

.review-slider ul, .review-slider li {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.review-slider ul {
  width: 9999px; 
}

.review-slider ul li {
  list-style-type: none;
  float: left;
  width: 1170px;
  height: 330px;
}

.line {
  border-bottom: 1px solid lightgray;
  margin-right: 15px;
  margin-top: 8px;
}

.review-navigation {
  margin-left: 10px;
}

.review-nav span {
  opacity: 0.9;
  background: transparent;
  margin: 0 20px 0 0;
  width: 18px;
  height: 18px;
  border-radius: 9px;
  border: 1px solid lightgray;
  cursor: pointer;
  overflow: hidden;
  display: block;
  float: left;
}

.review-nav span.on {
  background: gray;
}

.avatar img {
  width: 120px;
}

.avatar-description {
  margin-left: -10px;
}

.avatar-description h3 {
  font-family: "Montserrat-Regular";
  font-size: 1.4em;
}

.avatar-description span {
  font-family: "Montserrat-Thin";
  font-weight: 800;
  color: gray;
  font-size: 1.1em;
}

.avatar-text {
  font-family: "Montserrat-Thin";
  font-weight: 800;
  font-size: 1.15em;
  margin-top: 15px;
}


@media (min-width: 992px) and (max-width: 1199px) {

  .content-changer {
    height: 270px;
  }

  .content-changer img {
    width: 100%;
    position: absolute;
  }

  .choose-btn1, .choose-btn2 {
    height: 260px;
  }

  .choose-btn1 .outstaff {
    margin-left: 200px;
    margin-top: 110px;
    font-size: 1.7em;
    padding: 5px 30px 5px 30px;
  }

  .choose-btn2 .outsource {
    margin-left: 140px;
    margin-top: 110px;
    font-size: 1.7em;
    padding: 5px 30px 5px 30px;
  }

  .paragraph {
    font-size: 1.3em;
  }

  .outsource-thing h3 {
    font-size: 1.3em;
  }

  .outsource-thing span {
    font-size: 1.1em;
  }

  .hands-banner {
    height: 340px;
  }

  .team-article h3 {
    font-size: 1.4em;
  }

  .team-article span {
    font-size: 1.15em;
  }

  .base-banner {
    height: 480px;
  }

  .base-banner img {
    width: 145%;
    margin-left: -200px;
  }

  .base-article {
    margin-top: 35px;
    padding: 0 20px 10px 20px;
  }

  .base-article h3 {
    font-size: 1.3em;
    margin-bottom: 10px;
    margin-top: 15px;
  }

  .base-article span {
    font-size: 1.05em;
  }

  .cooperation {
    margin-top: 20px;
  }

  .cooperation h3 {
    font-size: 1.4em;
  }

  .cooperation span {
    font-size: 1.15em;
  }

  .hands-img {
    margin-top: 120px;
    margin-left: 40px;
    width: 300px;
    height: 300px;
    border: 5px solid gray;
    border-radius: 150px;
  }

  .hands-img img {
    width: 70%;
    margin-left: 46px;
    margin-top: 90px;
  }


  .outstaff-thing img {
    width: 70px;
    float: left;
    margin-right: 25px;
  }

  .medium {
    width: 60px !important;
  }

  .outstaff-thing p {
    font-size: 1.15em;
  }

  .laptop-banner {
    height: 380px;
    margin-top: 40px;
    margin-bottom: 80px;
    overflow: hidden;
  }

  .laptop-banner img {
    width: 175%;
    margin-left: -150px;
  }

  .working-cycle {
    position: relative;
    height: 500px;
  }

  .start {
    position: absolute;
    left: 10px;
  }

  .start img {
    width: 45px;
  }
  .start h4 {
    font-size: 1.3em;
  }

  .brainstorm {
    width: 270px;
    left: 70px;
  }

  .brainstorm img {
    width: 50px;
    margin-left: 115px;
  }

  .brainstorm h4 {
    font-size: 1.3em;
  }

  .brainstorm p {
    font-size: 1.1em;
  }

  .development {
    width: 250px;
    left: 370px;
  }

  .development img {
    width: 60px;
    margin-left: 90px;
  }

  .development h4 {
    font-size: 1.3em;
  }

  .development p {
    font-size: 1.1em;
  }

  .launch {
    width: 250px;
    left: 650px;
  }

  .launch img {
    width: 60px;
    margin-left: 90px;
  }

  .launch h4 {
    font-size: 1.3em;
  }

  .launch p {
    font-size: 1.1em;
  }

  .release {
    right: 10px;
  }

  .release img {
    width: 65px;
  }
  .release h4 {
    font-size: 1.3em;
  }

  .first-line {
    left: 55px;
    top: 40px;
    transform: scale(0.9);
  }

  .second-line {
    left: 225px;
    top: -5px;
    transform: scale(0.85);
  }

  .third-line {
    left: 505px;
    top: -5px;
    transform: scale(0.85);
  }

  .fourth-line {
    left: 775px;
    top: 30px;
    transform: scale(0.7);
  }

  .price-info {
    background-size: 145%;
    background-position: 30% top; 
    height: 470px;
  }

  .article-fixed {
    margin-top: 40px;
    padding-right: 40px;
  }

  .article-fixed img {
    width: 110px;
    margin-left: 120px;
  }

  .article-fixed h3 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1.5em;
  }

  .article-fixed p:first-child {
    padding: 15px 20px 10px 20px;
    font-size: 1.15em;
  }

  .article-fixed p:last-child {
    padding: 0 20px 20px 20px;
    font-size: 1.05em;
  }

  .article-hourly {
    margin-top: 40px;
    padding-left: 40px;
  }

  .article-hourly img {
    width: 92px;
    margin-left: 120px;
  }

  .article-hourly h3 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1.5em;
  }

  .article-hourly p:first-child {
    padding: 15px 20px 10px 20px;
    font-size: 1.15em;
  }

  .article-hourly p:last-child {
    padding: 8px 20px 25px 20px;
    font-size: 1.15em;
  }

  .portfolio-slide-item {
    width: 295px;
  }


  .review-slider ul li {
    width: 970px;
  }

  .review-navigation {
    margin-left: 0;
  }

  .review-nav span {
    margin: 0 10px 0 0;
  }

  .avatar img {
    width: 110px;
  }

  .avatar-description {
    margin-left: -10px;
  }

}

@media (min-width: 768px) and (max-width: 991px) {

  .content-changer {
    height: 200px;
  }

  .content-changer img {
    width: 100%;
    position: absolute;
  }

  .choose-btn1, .choose-btn2 {
    height: 200px;
  }

  .choose-btn1 .outstaff {
    margin-left: 140px;
    margin-top: 80px;
    font-size: 1.7em;
    padding: 5px 30px 5px 30px;
  }

  .choose-btn2 .outsource {
    margin-left: 70px;
    margin-top: 80px;
    font-size: 1.7em;
    padding: 5px 30px 5px 30px;
  }

  .paragraph {
    font-size: 1.15em;
  }

  .outsource-thing img {
    float: left;
    width: 50px;
    margin-right: 20px;
  }

  .outsource-thing h3 {
    font-size: 1.2em;
  }

  .outsource-thing span {
    font-size: 1.1em;
  }

  .hands-banner {
    height: 260px;
  }

  .team-article h3{
    font-size: 1.3em;
  }

  .team-article span {
    font-size: 1.15em;
  }

  .base-banner {
    height: 420px;
  }

  .base-banner img {
    width: 165%;
    margin-left: -150px;
  }

  .base-article {
    margin-top: 35px;
    padding: 0 20px 10px 20px;
  }

  .base-article h3 {
    font-size: 1.3em;
    margin-bottom: 10px;
    margin-top: 15px;
  }

  .base-article span {
    font-size: 1.05em;
  }

  .cooperation {
    margin-top: 20px;
  }

  .cooperation h3 {
    font-size: 1.4em;
  }

  .cooperation span {
    font-size: 1.15em;
  }

  .hands-img {
    margin-top: 200px;
    margin-left: 40px;
    width: 200px;
    height: 200px;
    border: 5px solid gray;
    border-radius: 100px;
  }

  .hands-img img {
    width: 70%;
    margin-left: 30px;
    margin-top: 70px;
  }

  .outstaff-thing img {
    width: 60px;
  }

  .medium {
    width: 55px !important;
  }

  .outstaff-thing p {
    font-size: 1.15em;
  }

   .laptop-banner {
    height: 280px;
    margin-bottom: 50px;
  }

  .laptop-banner img {
    width: 175%;
    margin-left: -150px;
  }

  .start {
    left: 10px;
  }

  .start img {
    width: 40px;
  }
  .start h4 {
    font-size: 1.2em;
  }

  .brainstorm {
    width: 200px;
    left: 60px;
    top: 80px;
  }

  .brainstorm img {
    width: 45px;
    margin-left: 75px;
  }

  .brainstorm h4 {
    text-align: center;
    font-size: 1.2em;
  }

  .brainstorm p {
    font-size: 1.1em;
  }

  .development {
    width: 200px;
    left: 270px;
    top: 0;
  }

  .development img {
    width: 50px;
    margin-left: 75px;
  }

  .development h4 {
    font-size: 1.2em;
  }

  .development p {
    font-size: 1.1em;
  }

  .launch {
    width: 200px;
    left: 480px;
    top: 80px;
  }

  .launch img {
    width: 50px;
    margin-left: 75px;
  }

  .launch h4 {
    font-size: 1.2em;
  }

  .launch p {
    font-size: 1.1em;
  }

  .release {
    right: 5px;
  }

  .release img {
    width: 55px;
  }
  .release h4 {
    font-size: 1.2em;
  }

  .first-line {
    left: 30px;
    top: 15px;
    transform: scale(0.6);
  }

  .second-line {
    left: 140px;
    top: -20px;
    transform: scale(0.6);
  }

  .third-line {
    left: 350px;
    top: -20px;
    transform: scale(0.6);
  }

  .fourth-line {
    left: 575px;
    top: 15px;
    transform: scale(0.6);
  }

  .price-info {
    background-size: 200%;
    background-position: 40% top; 
    height: 500px;
  }

  .article-fixed {
    margin-top: 40px;
    padding-right: 20px;
  }

  .article-fixed img {
    width: 100px;
    margin-left: 90px;
  }

  .article-fixed h3 {
    font-size: 1.5em;
  }

  .article-fixed p:first-child {
    padding: 15px 20px 5px 10px;
    font-size: 1.15em;
  }

  .article-fixed p:last-child {
    padding: 0 20px 15px 20px;
    font-size: 1.05em;
  }

  .article-hourly {
    margin-top: 40px;
    padding-left: 20px;
  }

  .article-hourly img {
    width: 85px;
    margin-left: 100px;
  }

  .article-hourly h3 {
    font-size: 1.5em;
  }

  .article-hourly p:first-child {
    padding: 20px 20px 10px 20px;
    font-size: 1.15em;
  }

  .article-hourly p:last-child {
    padding: 15px 20px 25px 20px;
    font-size: 1.1em;
  }

  .portfolio-slide-item {
    width: 330px;
  }

  .portfolio-navy {
    position: absolute;
    top: 35%;
    z-index: 1;
    height: 20%;
    width: 25px;
    cursor: pointer;
  }

  .portfolio-navy img {
    width: 30px;
    height: 60px;
  }

  .portfolio-navy:last-child img {
    margin-top: 15px;
  }

  .portfolio-prev-slide {
    left: 0;
    z-index: 1001;
  }

  .portfolio-next-slide {
    right: 0;
    z-index: 1001;
  }

  .review-slider ul li {
    width: 750px;
  }

  .review-navigation {
    margin-left: 20px;
  }

  .review-nav span {
    margin: 0 10px 0 0;
  }

  .avatar img {
    width: 110px;
  }

  .avatar-description {
    margin-left: 20px;
  }

  .avatar-description h3 {
    font-size: 1.3em;
  }

}

@media (max-width: 767px) {

.content-changer {
    height: 120px;
  }

  .content-changer img {
    width: 140%;
    position: absolute;
    left: -20%;
  }

  .choose-btn1, .choose-btn2 {
    height: 120px;
  }

  .choose-btn1 .outstaff {
    margin-left: 30px;
    margin-top: 40px;
    font-size: 1.3em;
    padding: 5px 10px 5px 10px;
  }

  .choose-btn2 .outsource {
    margin-left: 20px;
    margin-top: 40px;
    font-size: 1.25em;
    padding: 5px 5px 5px 5px;
  }
  .paragraph {
    font-size: 1.1em;
    padding: 20px 0 20px 0;
  }

  .outsource-thing {
    padding-bottom: 20px; 
  }

  .extend {
    padding-top: 10px;
  }

  .extend h3 {
    margin-top: 45px !important;
  }

  .outsource-thing img {
    float: left;
    width: 60px;
    margin: 5px 20px 20px 20px;
  }

  .outsource-thing h3 {
    font-size: 1.4em;
  }

  .outsource-thing span {
    font-size: 1.1em;
  }

  .hands-banner {
    height: 160px;
    overflow: hidden;
    padding-left: 0;
    padding-right: 0;
  }

  .hands-banner img {
    width: 220%;
    margin-left: -20vw;
  }

  .team-article h3{
    font-size: 1.4em;
    margin-bottom: 20px;
  }

  .team-article span {
    font-size: 1.1em;
  }

  .base-banner {
    margin-top: 20px;
    height: 70vw;
  }

  .base-banner img {
    width: 205%;
    margin-left: -50vw;
  }

  .base-article {
    margin-top: 10px;
    padding: 0 15px 0 15px;
  }

  .base-article h3 {
    font-size: 1.25em;
    margin-bottom: 5px;
    margin-top: 10px;
  }

  .base-article span {
    font-size: 1em;
  }

  .cooperation {
    margin-top: 20px;
  }

  .cooperation h3 {
    font-size: 1.4em;
  }

  .cooperation span {
    font-size: 1.1em;
  }

  .hands-img {
    margin-top: 40px;
    margin-left: 45px;
    width: 200px;
    height: 200px;
    border: 5px solid gray;
    border-radius: 100px;
  }

  .hands-img img {
    width: 70%;
    margin-left: 30px;
    margin-top: 70px;
  }

  .outstaff-thing {
    margin-top: 30px;
  }

  .outstaff-thing img {
    width: 70px;
  }

  .medium {
    width: 60px !important;
  }

  .outstaff-thing p {
    font-size: 1.1em;
    padding-right: 0;
  }

  .laptop-banner {
    height: 200px;
    margin-top: 15px;
    margin-bottom: 20px;
    overflow: hidden;
  }

  .laptop-banner img {
    width: 280%;
    margin-left: -170px;
  }

  .working-cycle {
    height: 1200px;
  }

  .start {
    left: 140px;
  }

  .start img {
    width: 50px;
  }
  .start h4 {
    font-size: 1.4em;
  }

  .brainstorm {
    width: 260px;
    left: 30px;
    top: 150px;
  }

  .brainstorm img {
    width: 55px;
    margin-left: 105px;
  }

  .brainstorm h4 {
    text-align: center;
    font-size: 1.4em;
  }

  .brainstorm p {
    font-size: 1.1em;
  }

  .development {
    width: 260px;
    left: 30px;
    top: 440px;
  }

  .development img {
    width: 60px;
    margin-left: 100px;
  }

  .development h4 {
    font-size: 1.3em;
  }

  .development p {
    font-size: 1.1em;
  }

  .launch {
    position: absolute;
    width: 260px;
    left: 30px;
    top: 750px;
  }

  .launch img {
    width: 60px;
    margin-left: 100px;
  }

  .launch h4 {
    font-size: 1.3em;
  }

  .launch p {
    font-size: 1.1em;
  }

  .release {
    position: absolute;
    left: 120px;
    top: 1070px;
  }

  .release img {
    width: 70px;
  }
  .release h4 {
    font-family: "Montserrat-Regular";
    color: #ff4d55;
    font-size: 1.5em;
  }

  .first-line {
    position: absolute;
    left: 80px;
    top: 50px;
    width: 130px;
    height: 100px;
  }

  .second-line {
    position: absolute;
    left: 290px;
    top: 0;
    width: 250px;
    height: 140px;
  }

  .third-line {
    position: absolute;
    left: 610px;
    top: 0;
    width: 250px;
    height: 140px;
  }

  .fourth-line {
    position: absolute;
    left: 940px;
    top: 50px;
    width: 130px;
    height: 100px;
  }

  .price-info {
    background-size: 300%;
    height: 320px;
  }

  .article-fixed {
    margin-top: 20px;
    padding-right: 15px;
  }

  .article-fixed img {
    width: 80px;
    margin-left: 105px;
  }

  .article-fixed h3 {
    font-size: 1.6em;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .article-hourly {
    margin-top: 20px;
    padding-left: 15px;
  }

  .article-hourly img {
    width: 70px;
    margin-left: 110px;
  }

  .article-hourly h3 {
    font-size: 1.6em;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .fixed-description {
    background-color: rgba(255, 255, 255, 0.6);
  }

  .article-hourly p:first-child {
    padding: 1.5vw 2vw 1vw 2vw;
    font-family: "Montserrat-Regular";
    font-size: 1.1vw;
  }

  .article-hourly p:last-child {
    padding: 0 2vw 1.5vw 2vw;
    font-family: "Montserrat-Thin";
    font-weight: 800;
    font-size: 1.1vw;
  }

  .portfolio-service {
    font-family: "Montserrat-Regular";
    margin-top: 80px;
  }

  .portfolio-clear {
    margin-top: -1px;
    height: 1px;
    clear:both;
    zoom: 1;
  }  

  .portfolio-slider {
    width: 100%;
    margin: 50px auto;
    padding: 0 30px;
    position: relative;
  }

  .portfolio-slider::-moz-selection { background: transparent; color: #fff; text-shadow: none; }
  .portfolio-slider::selection { background: transparent; color: #fff; text-shadow: none; }

  .portfolio-slide-list {
    position: relative;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  .portfolio-slide-wrap {
    position: relative;
    left: 0px;
    top: 0;
    width: 10000000px;
  }

  .portfolio-slide-item {
    position: relative;
    width: 230px;
    padding: 10px;
    float: left;
    overflow: hidden;
  }

  .portfolio-slide-item img {
    width: 100%;
  }

  .portfolio-slide-item h4 {
    font-family: "Montserrat-Regular";
    margin-top: 15px;
  }

  .portfolio-likes-counter {
    display: inline-block;
    margin-top: 15px;
    margin-right: 5px;
  }

  .portfolio-likes-counter img {
    width: 13px;
    margin-right: 5px;
    border: none;
  }

  .portfolio-likes-counter span {
    font-family: "Montserrat-Regular";
    color: #aeaeae;
    font-size: 1em;
  }

  .portfolio-project-category {
    position: absolute;
    bottom: 0;
    left: 10px;
  }

  .portfolio-project-category span {
    font-family: "Montserrat-Regular";
    color: #989898;
    font-size: 0.9em;
    text-decoration: underline;
    cursor: pointer;
    transition: all 0.15s ease-out 0s;
  }

  .portfolio-project-category span:hover {
    color: #ff4d55;
    transition: all 0.15s ease-out 0s;
  }

  .portfolio-navy {
    position: absolute;
    top: 35%;
    z-index: 1;
    height: 20%;
    width: 25px;
    cursor: pointer;
  }

  .portfolio-navy img {
    width: 30px;
    height: 60px;
  }

  .portfolio-navy:last-child img {
    margin-top: 15px;
  }

  .portfolio-prev-slide {
    left: 0;
    z-index: 1001;
  }

  .portfolio-next-slide {
    right: 0;
    z-index: 1001;
  }
}