
.margins {
	margin-bottom: 30px;
}

.teammate {
	height: 310px;
	font-family: "Montserrat-Regular";
}

.teammate img {
	background-color: lightgray;
	width: 100%;
	margin-bottom: 5px;
}

.first-one img {
	background-color: transparent;
	border: 1px solid gray;
}

.blockquote {
	position: relative;
	margin-top: 20px;
	margin-bottom: 20px;
}
.blockquote:before {
	display: block;
	top:-10px;
	left: 130px;
	position: absolute;
	width: 20px;
	height: 20px;
	border-top: 1px solid gray;
	border-right: 1px solid gray;
	background-color: rgb(248, 248, 248);
	z-index: 1000;
	transform: rotate(-45deg);

}

.blockquote p {
	border: 1px solid gray;
	padding: 15px 10px 15px 10px;
	font-family: "Montserrat-Regular";
}

.paginator {
	width: 270px;
	height: 40px;
}

.page-changer li {
	box-sizing: border-box;
	list-style: none;
	float: left;
	padding: 5px 10px 5px 10px;
	font-family: "Montserrat-Regular";
}

.page-changer li:hover {
	border: 1px solid #ff4d55;
	color: #ff4d55 !important;
	background-color: rgba(255, 77, 85, 0.2);
}

.page-changer .disabled {
	pointer-events: none;
	opacity: 0.4;
}

.page-changer .active {
	border: 1px solid #ff4d55;
	color: #ff4d55 !important;
	background-color: rgba(255, 77, 85, 0.2);
}

@media (min-width: 992px) and (max-width: 1199px) {

	.margins {
		margin-bottom: 10px;
	}

	.teammate {
		height: 290px;
	}

	.blockquote {
		margin-top: -5px;
	}

	.blockquote:before {
		left: 110px;
	}

	.blockquote p {
		margin-top: -5px;
	}

}

@media (min-width: 768px) and (max-width: 991px) {

	.teammate {
		height: 245px;
	}

	.teammate span {
		font-size: 1.2em;
	}

	.blockquote {
		margin-top: 0;
	}

	.blockquote:before {
		top: -7px;
		left: 85px;
		width: 15px;
		height: 15px;
	}

	.blockquote p {
		margin-top: 0;
		font-size: 1.3em;
	}

	.paginator {
		width: 290px;
	}

	.page-changer li {
		font-size: 1.3em; 
	}

}

@media (max-width: 767px) {

	.margins {
		margin-bottom: 10px;
	}

	.teammate {
		height: 230px;
	}

	.blockquote {
		margin-top: 5px;
	}

	.blockquote:before {
		top: -2px;
		left: 85px;
		width: 15px;
		height: 15px;
	}

	.blockquote p {
		margin-top: 5px;
		font-size: 1.2em;
	}

	.paginator {
		width: 295px;
	}

	.page-changer {
		margin-top: 40px;
	}

	.page-changer li {
		font-size: 1.2em; 
	}

}


